<div class="position-fixed bottom-0 start-0 ps-4 pb-4">
    <button class="primary-icon-btn d-xl-none d-md-flex d-flex" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <i class="bi bi-list fs-5"></i>
    </button>
</div>
<div class="col-lg-3 col-md-0 col-0 d-lg-block d-md-none d-none border-end">
    <div class="p-4 text-center border-bottom">
        <img src="~/Images/main-logo.png" class="nav-logo" />
    </div>
    <div class="row my-4">
        <div class="col-12 mb-3">
            <a asp-action="Index" id="home-btn" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                <i class="bi bi-house-fill fs-4"></i> Home
            </a>
        </div>
        <div class="col-12 mb-3">
            <a asp-action="Users" id="user-btn" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                <i class="bi bi-person-fill fs-4"></i> Users
            </a>
        </div>
        <div class="col-12 mb-3">
            <a asp-action="Roles" id="user-btn" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                <i class="bi bi-person-badge-fill fs-4"></i> Roles
            </a>
        </div>
        <div class="col-12 mb-3">
            <a asp-action="PC" id="pc-btn" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                <i class="bi bi-display-fill fs-4"></i> PC
            </a>
        </div>
        <div class="col-12 mb-3">
            <a asp-action="Labs" id="lab-btn" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                <i class="bi bi-door-open-fill fs-4"></i> Labs
            </a>
        </div>
        <div class="col-12 mb-3">
            <a asp-action="Department" id="department-btn" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                <i class="bi bi-bar-chart-fill fs-4"></i> Department
            </a>
        </div>
    </div>
</div>

<!--Offcanvas-->

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="p-4 text-center border-bottom">
                        <img src="~/Images/main-logo.png" class="nav-logo" />
                    </div>
                    <div class="row my-4">
                        <div class="col-12 mb-3">
                            <a asp-action="Index" id="home-btn-canvas" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                                <i class="bi bi-house fs-4"></i> Home
                            </a>
                        </div>
                        <div class="col-12 mb-3">
                            <a asp-action="Users" id="hardware-btn-canvas" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                                <i class="bi bi-person-fill fs-4"></i> Users
                            </a>
                        </div>
                        <div class="col-12 mb-3">
                            <a asp-action="Roles" id="hardware-btn-canvas" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                                <i class="bi bi-person-fill fs-4"></i> Roles
                            </a>
                        </div>
                        <div class="col-12 mb-3">
                            <a asp-action="PC" id="pc-btn-canvas" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                                <i class="bi bi-display-fill fs-4"></i> PC
                            </a>
                        </div>
                        <div class="col-12 mb-3">
                            <a asp-action="Labs" id="lab-btn-canvas" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                                <i class="bi bi-door-open-fill fs-4"></i> Labs
                            </a>
                        </div>
                        <div class="col-12 mb-3">
                            <a asp-action="Department" id="department-btn-canvas" class="secondary-btn d-flex align-items-center justify-content-start gap-3">
                                <i class="bi bi-bar-chart-fill fs-4"></i> Department
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>