@{
    ViewData["Title"] = "Portal - X - Administrator | Online Administration Manager";
}
<main class="hero-section d-flex justify-content-center align-items-center">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <i></i>
        <h3 class="uranian-color"> Welcome to</h3>
        <h1 class="font-body display-1 text-white fw-bold text-center">Portal - X - Administration</h1>
        <p class="text-center fw-semibold text-white col-md-8 col-12">
            Simplify Your Administrative Tasks Streamline your organization’s operations with our E-Administration platform. Manage tasks, monitor progress, and enhance productivity all in one place. Experience seamless administration, tailored for your needs.
        </p>
        <div class="d-flex gap-2">
            <a asp-action="Index" asp-controller="Signup" class="primary-btn cursor-pointer">
                Register
            </a>
        </div>
    </div>
</main>