@model E_Administration.Models.Floor
@{
    ViewData["Title"] = "Add Floor";
}

<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row">
        <div class="col-12 mb-3">
            <a asp-action="ViewFloor" class="text-black text-decoration-none">Go Back</a>
        </div>
        <div class="col-12 d-flex justify-content-center flex-column gap-2">
            <div>
                <h1 class="fw-bold font-body display-4">Add Floor</h1>
                <p class="text-black-50">Fill the information about the Floor in the given fields</p>
            </div>
            @if (TempData["FloorSuccess"] != null)
            {
                <div class="col-12 my-3">
                    <div class="alert alert-success" role="alert">
                        @TempData["FloorSuccess"]
                    </div>
                </div>
            }
            @if (TempData["FloorError"] != null)
            {
                <div class="col-12 my-3">
                    <div class="alert alert-danger" role="alert">
                        @TempData["FloorError"]
                    </div>
                </div>
            }
            <form asp-action="AddFloor" method="post" class="col-12">
                <div class="col-12 my-3 form-group d-flex flex-column gap-1">
                    <label class="text-black">Institute</label>
                    <select class="input-custom" asp-for="InstituteId" asp-items="ViewBag.InstituteId"></select>
                </div>
                <div class="col-12 my-3 form-group d-flex flex-column gap-1">
                    <label class="text-black">Floor Name</label>
                    <input type="text" asp-for="FloorName" class="input-custom" />
                </div>
                <div class="my-3">
                    <button type="submit" class="secondary-btn col-12">Add Floor</button>
                </div>
            </form>

        </div>
    </div>
</div>
